body {
  background: rgb(110, 197, 248);
  margin: 0;
}

.end-game-screen {
  background: rgb(110, 197, 248);
  width: 100vw;
  min-height: 100vh;
  z-index: 3;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

.play-again__btn {
  width: 160px;
  height: 60px;
  border-radius: 5px;
}

.timer {
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  position: fixed;
  top: 62px;
  left: 130px;
  z-index: 2;
}

.start-menu__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
}

.start-menu__text {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 50px;
}

.start-menu__btn {
  margin-top: 15px;
  width: 160px;
  height: 60px;
  border-radius: 5px;
}

.actions__container {
  text-align: center;
  width: 100px;
  height: 20px;
  background: papayawhip;
  border: 1px solid gray;
  position: fixed;
  top: 60px;
  left: 180px;
  z-index: 1;
}

.output__word {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 166px;
  height: 30px;
  background-color: rgb(232, 210, 241);
  border: 2px solid rgb(161, 107, 44);
  border-radius: 5px;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}

.input__UI {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  position: fixed;
  bottom: 20px;
  z-index: 1;
}

.input__btn {
  display: flex;
  font-size: 20px;
  line-height: 1.7;
  box-shadow: 1px 2px 3px rgb(49, 48, 48);
}

.input__sword-img {
  max-width: 40px;
  height: auto;
}

.game__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

progress[value] {
  -webkit-appearance: none;
  appearance: none;
}

.pumpkin__healthbar[value]::-webkit-progress-bar {
  background-color: rgb(80, 154, 197);
}

.pumpkin__healthbar[value]::-webkit-progress-value {
  background-color: #e72222;
}

.pumpkin__health-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  position: fixed;
  top: 20px;
  left: 100px;
  z-index: 1;
}

.pumpkin {
  display: flex;
  position: fixed;
  top: 30px;
  z-index: 0;
}
